.accordion:hover{
    animation: cambioColor 0.5s 2 linear alternate;
}

@keyframes cambioColor{
    from{
        background-color: background-color;
        color: color;
    }
    to{
        background-color: #626262;
        color : #fff;
    }
}
